{% extends "articles/base.html" %}


{% block content %}
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 section-heading"><h2>Popular Posts</h2></div>
            <a href="{% url 'articles:article' id=article.id %}"><img src={{article.article_img.url}} alt="Image" class="img-fluid rounded"></a>
              <div class="text">
                <h2>{{article.article_name}}</h2>
                <span class="date">{{article.article_date}}</span>
              </div>
            </a>
        </div>
      </div>
    </div>

{% endblock %}
